body{
    color: white;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

ol{
    padding: 0px;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0px;
}

.header{
    position: relative; 
    background-color: #10676C;
    margin: 100px 0;
    line-height: 1.5;
    height: 540px;
    max-width: 100%;
    display: flex;
    text-align: center;
}

.h2_text{
    margin: 20px 0;
    font-weight: 400;
    font-size: 30px;
    
}

.h1_text{
    margin: 24px 0;
    font-size: 54px;
    font-weight: 400;
}

.exercise {
    max-width: 627px;
    width: 100%;
    background-color: #10676C;
    cursor: pointer;
    padding: 18px;
    text-align: center;
    border: none;
    outline: none;
    transition: .4s;
    display: block;
    margin: 50px auto;
    border-radius: 30px;
    color: white;
    font-size: 30px;
  }
  
  .active, .exercise:hover {
    background-color: #2c989e;
  }
  
  .panel {
    padding: 0 18px;
    background-color: #404040;
    display: none;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    margin: 10px auto;
    border-radius: 30px;
    font-size: 25px;
    text-align: center;
  }

 .footer{
    background-color: #10676C;
    max-width: 100%;
    max-height: 100px;
    height: 100%;
    display: flex;
    color: rgba(255, 255, 255, 0.6);
    text-align: left;
 }

 .exercise_text{
    text-align: left;
    line-height: 1.5;
    font-size: 22px;
 }

.exercise{
    transition: all 0.3s;
}


 .exercise_text_h1{
    text-align: center;
    font-size: 25px;
    transition: all 0.3s;
 }

 @media(max-width: 1200px){
    .header{
        margin: 75px 0px;
        max-height: 400px;
        font-size: 40px;    
    }
    .header-content{
        margin: 0px 120px;
    }
    .exercise{
        font-size: 25px;
        max-width: 580px;
    }
    
    .footer{
        text-align: center;
    }
    .h2_text{
        font-size: 25px;
    }
    .h1_text{
        font-size: 40px;
    }
    .exercise_text{
        font-size: 20px;
    }
    .exercise_text_h1{
        font-size: 22px;
    }
 }

 @media(max-width: 1025px){
    .header{
        margin: 50px 0px;
        max-height: 300px;
    }
    .header-content{
        margin: 0 200px;
    }
    .panel{
        max-width: 650px;
    }
    .exercise{
        max-width: 500px;
        font-size: 22px;
    }
 }

 @media(max-width: 925px){
    .header{
        margin: 50px 0px;
        max-height: 270px;
    }
    .h2_text{
        font-size: 25px;
    }
    .h1_text{
        font-size: 30px;
    }
    .header-content{
        margin: 0px 120px;
    }
    .panel{
        font-size: 18px;
    }
    .exercise_text_h1{
        font-size: 20px;
    }
    .exercise_text{
        font-size: 18px;
    }
 }
 @media(max-width: 830px){
    .h1_text{
        margin: 15px 60px;
    }
    .panel{
        width: 575px ;
    }
    .exercise{
        width: 475px;
        font-size: 21px;
    }
    .footer{
        font-size: 14px;
    }
 }

 @media(max-width: 725px){
    .header{
        line-height: 1.3;
    }
    .panel{
        width: 520px ;
    }
 }

 @media(max-width: 660px){
    .header{
        max-height: 340px;
    }
    .panel{
        width: 520px ;
    }
    .header-content{
        margin: 0px 60px;
    }
 }

 @media(max-width: 610px){
    .panel{
        width: 400px;
    }
    .exercise{
        width: 460px;
        font-size: 20px;
        height: 55px;
        padding: 5px;
    }
    .exercise_text_h1{
        font-weight: 550;
    }
    .exercise_text{
        font-size: 18px;
    }
    .h1_text{
        margin: 20px;
    }
 }

@media(max-width: 520px){
    .panel{
        width: 380px;
    }
    .h1_text{
        margin: 30px;
        font-size: 25px;
    }
    .h2_text{
        font-size: 20px;
    }
    .exercise{
        font-size: 18px;
        width: 420px;
    }
    .header{
        height: 300px;
    }
}

@media(max-width: 430px){
    .panel{
        max-width: 350px;
    }
    .exercise{
        width: 340px;
        padding: 10px;
    }
    .footer{
        font-size: 12px;
    }
}

@media(max-width: 390px){
    .header-content{
        margin: 10px;
    }
    .panel{
        width: 300px;
    }
    .exercise{
        margin: 25px auto;
        width: 320px;
        font-size: 16px;
    }
    .header{
        margin: 25px 0px;
    }
}

@media(max-width: 330px){
    .panel{
        width: 264px;
        margin: 10px auto;
    }
    .exercise_text{
        font-size: 16px;
    }
    .exercise_text_h1{
        font-size: 18px;
    }
}
